img.small {
  height: 1px;
}
div.bgimg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
div#root {
  overflow: hidden;
}
body img.background {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.flex-center {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.translucent-red {
  background: rgba(255, 190, 160, 0.8);
}
h1.loading {
  color: rgb(249, 66, 58);
  font-family: "Handlee", cursive;
}
body {
  background-image: ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* label color */
.input-field label {
  color: #000;
  position: static;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}
