div.bgimg
  img.background(src="http://i0.kym-cdn.com/photos/images/original/000/803/646/e22.jpg")
div#root
  div.flex-center.translucent-red
    h1.loading Please wait warmly...
      img.small(src="https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/118/fire_1f525.png")